<header>
  <nav class="navbar navbar-expand-lg" style=" background-color: #aad7f7;">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user_info) {%>
    <h5 style="color:rgb(67, 67, 212)">
      Logged in as:
      <span style="color:rgb(2, 0, 7)">&nbsp;<%= user_info.email %></span>
    </h5>
    &nbsp;&nbsp;
    <form
      class="form-inline"
      action="/logout"
      method="POST"
      style="padding: 15px 5px"
    >
      <input
        type="submit"
        class="btn btn-outline-info"
        name="<%= user_info %>"
        value="logout"
      />
    </form>
    <% } else { %>

    <div class="vertical-center">
      <a href="/register" class="btn btn-light">Register</a>
      &nbsp;&nbsp;<a href="/login" class="btn btn-primary">Login</a>
    </div>

    <% } %>
  </nav>
</header>
